
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    min-height: 100vh;
}

header {
    background-color: #3a8ad1;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

header img {
    width: 90px;
    height: 70px;
}

nav {
    background-color: #2f5aaa;
    text-align: center;
    padding: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 10px 15px;
    display: inline-block;
}

nav a:hover {
    background-color: #4b8bda;
    border-radius: 5px;
}

.container {
    width: 80%;
    margin: 0 auto 30px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

h2 {
    font-size: 2rem;
    margin-bottom: 15px;
    color: #3a8ad1;
}

.about-table {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
    margin-bottom: 20px;
}

.about-table div {
    background-color: #fefefe;
    padding: 10px;
    border-radius: 5px;
}

.about-table .image {
    grid-column: 1 / -1;
    text-align: center;
    margin-top: 20px;
}

.about-table .image img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.ods-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
    margin-top: 15px;
}

.ods-images img {
    flex: 0 0 calc(16% - 12px); /* 6 imágenes por fila con espacio entre ellas */
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    object-fit: cover;
}


footer {
    background-color: #075281;
    color: #fff;
    text-align: center;
    padding: 10px;
}

footer a {
    color: #007bff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}


